$primary: #6E8A97;
$body-bg: #000;
$body-color: #fafafa;

$link-color: crimson;
$link-hover-color: lighten($link-color, 15%);

$btn-radius: 2px;
$btn-bg: lighten($body-bg, 10%);
$btn-color: inherit;